.scroll-list-container {
  position: relative;
  width: 98%;
}

.scroll-list {
  max-height: 700px;
  overflow-y: auto;
  padding: 16px;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background: #000;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #1ed75f7f;
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  padding: 16px;
  background-color: #1ed75f17;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.item.selected {
  background-color: #1ed75f2d;
}

.item-text {
  color: white;
  margin: 0;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
